<footer class="page-footer purple-bg-lighten">
    <div class="footer-copyright purple-bg">
        <div class="container">
            <p>&COPY; <a href="https://www.ordibeheshtstudio.com/">اردیبهشت استودیو</a> - ۱۳۹۸</p>
        </div>
    </div>
</footer>