<header class="navbar-fixed">
    <nav class="purple-bg">
        <div class="container">
            <div class="row">

                <div class="col s12">
                    <ul class="right bold">
                        <li><a href="/">کلماتیک</a></li>
                    </ul>
                    <ul class="left socials">
                        <li class="right">
                            <a href="http://www.ordibeheshtstudio.com/" target="_blank"
                               class="fa fa-globe fa-2x waves-effect waves-light">
                                <span class="icon-text"></span>
                            </a>
                        </li>
                        <li class="right">
                            <a href="mailto:info@ordibeheshtstudio.com" target="_blank" rel="nofollow"
                               class="fa fa-envelope fa-2x waves-effect waves-light">
                                <span class="icon-text"></span>
                            </a>
                        </li>
                        <li class="right">
                            <a href="https://www.instagram.com/ordibeheshtstudio/" target="_blank" rel="nofollow"
                               class="fa fa-instagram fa-2x waves-effect waves-light">
                                <span class="icon-text"></span>
                            </a>
                        </li>
                        <li class="right">
                            <a href="https://twitter.com/ordibeheshtstu/" target="_blank" rel="nofollow"
                               class="fa fa-twitter-square fa-2x waves-effect waves-light">
                                <span class="icon-text"></span>
                            </a>
                        </li>
                        <li class="right">
                            <a href="https://www.facebook.com/Ordibehesht.Studio/" target="_blank" rel="nofollow"
                               class="fa fa-facebook-square fa-2x waves-effect waves-light">
                                <span class="icon-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>
