<main class="valign-wrapper">
    <div class="container grey-text text-lighten-1 ">

        <div class="row">
            <div class="col s12 m8">
                <div class="brand">
                    <img src="assets/img/logo.png" alt="" class="icon"><!-- TODO -->
                    <div class="heading">
                        <h1 class="title white-text">کلماتیک</h1><!-- TODO -->
                        <h2 class="subtitle white-text">حروف رو به هم وصل کن کلمه بساز!</h2><!-- TODO -->
                    </div>
                </div>

                <p class="flow-text white-text">
                    یک بازی بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه و خیلی زود
                    شما رو به چالش میکشه. فکر میکنی چندتا کلمه بلدی؟
                </p><!-- TODO -->

                <div class="center-align download-btns">

                    <a href="https://redirect.appmetrica.yandex.com/serve/746406079151255257" target="_blank" rel="nofollow">
                        <img src="assets/img/btn/sibapp.jpg" alt=""><!-- TODO -->
                    </a>

                    <a href="https://redirect.appmetrica.yandex.com/serve/25830091292424078" target="_blank" rel="nofollow">
                        <img src="assets/img/btn/cafebazaar.jpg" alt=""><!-- TODO -->
                    </a>

                </div>

            </div>

            <div class="col s12 m4">

                <div class="screenshot">
                    <img src="assets/img/kalamatic.png" alt=""><!-- TODO -->
                </div>

            </div>
        </div>

    </div>
</main>