<main class="valign-wrapper" itemscope itemtype="http://schema.org/Game">
    <div class="container grey-text text-lighten-1 ">

        <div class="row">
            <div class="col s12 m8">
                <div class="brand">
                    <img src="assets/img/logo.png" alt="آیکون بازی کلماتیک، بازی حدس کلمه" class="icon">
                    <div class="heading">
                        <h1 class="title white-text">کلماتیک</h1>
                        <h2 class="subtitle white-text">حروف رو به هم وصل کن کلمه بساز!</h2>
                    </div>
                </div>

                <p class="flow-text white-text">
                  یک بازی بی‌نهایت جذاب و اعتیادآور که این روزها همه در موردش صحبت میکنن. آسون شروع میشه و خیلی سریع شما رو به چالش میکشه. فکر میکنی چندتا کلمه بلدی؟
                  چالشی شیرین از جنس کلمات که شما رو ساعت‌ها سرگرم میکنه. اگر دنبال جایگزین بازی آمیرزا برای iOS (آیفون) هستی حتماً کلماتیک رو امتحان کن.
                </p>

                <div class="center-align download-btns">

                    <a href="https://redirect.appmetrica.yandex.com/serve/746406079151255257" target="_blank" rel="nofollow">
                        <img src="assets/img/btn/sibapp.jpg" alt="دکمه دانلود بازی کلماتیک برای iOS (آیفون)">
                    </a>

                    <a href="https://redirect.appmetrica.yandex.com/serve/25830091292424078" target="_blank" rel="nofollow">
                        <img src="assets/img/btn/cafebazaar.jpg" alt="دکمه بازی کلماتیک برای اندروید">
                    </a>

                </div>

            </div>

            <div class="col s12 m4">

                <div class="screenshot">
                    <img src="assets/img/kalamatic.png" alt="مشابه بازی آمیرزا با وصل کردن حروف به هم کلمه سازی کن.">
                </div>

            </div>
        </div>

    </div>
</main>
