<div class="fixed-action-btn">
    <a href="#message" class="modal-trigger btn btn-large btn-floating havij-bg waves-effect waves-light">
        <i class="large material-icons">message</i>
    </a>
</div>

<div id="message" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>تماس با ما</h4><!-- TODO -->
        <p>به زودی ...</p><!-- TODO -->
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect btn-flat">بستن</a>
    </div>
</div>